.experience{
    text-align: center;
    display: block;
    border-left: 6px solid #89ea69;
    border-right: 6px solid #89ea69;
    padding: 80px;
    @include media(1000){
        padding: 60px;
    }
    &__wrapper{
        padding-bottom: 40px;
        z-index: 99;
        @include media(1000){
            padding-bottom: 30px;
        }
        @include media(600){
            padding-bottom: 20px;
        }
    }
    &__title{
        font-size: 44px;
        font-weight: 700;
        line-height: 57px;
        text-align: center;
        margin-bottom: 3px;
        position: relative;
        @include media(1000){
            font-size: 36px;
        }
        @include media(650){
            font-size: 24px;
        }
        &::after{
            content: "";
            width: 20px;
            height: 20px;
            background:#5CBE3A;
            display: block;
            border-radius: 50%;
            position: absolute;
            top: 39%;
            right: 36.5%;
            margin: 0 auto;
            @include media(1481){
                display: none;
            }
        }
        &::before{
            content: "";
            width: 20px;
            height: 20px;
            background:#5CBE3A;
            display: block;
            border-radius: 50%;
            position: absolute;
            top: 35%;
            right: 62%;
            margin: 0 auto;
            @include media(1481){
                display: none;
            }
        }
    }
    &__desc{
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        color: #61705C;
        @include media(700){
            font-size: 16px;
        }
    }
    &__box{
        margin: 70px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px; 
        @include media(700){
            margin: 0 auto;
            grid-template-columns: repeat(2, 1fr);
        }
        @include media(900){
            margin: 0 auto;
        }
        &-wrapper{
            position: relative;
        } 
        &-ellips{
            margin: 0 auto;
            padding: 40px;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background: linear-gradient(0deg, #5CBE3A -26.3%, rgba(92, 190, 58, 0) 30.74%),
            linear-gradient(360deg, #5CBE3A -33.55%, rgba(92, 190, 58, 0.0860215) 4.82%, rgba(92, 190, 58, 0) 37.59%);
            border-image-source: linear-gradient(0deg, #5CBE3A -26.3%, rgba(92, 190, 58, 0) 30.74%);
            box-shadow: 0 0 10px rgba(91, 190, 58, 0.158),
            0 0 20px rgba(91, 190, 58, 0.158),
            0 0 30px rgba(91, 190, 58, 0.158),
            0 0 40px rgba(91, 190, 58, 0.158);
            // position: relative;
            @include media(900){
                width: 190px;
                height: 190px;
            }
            @include media(650){
                width: 150px;
                height: 150px;
            }
            @include media(550){
                width: 140px;
                height: 140px;
            }
            @include media(450){
                width: 120px;
                height: 120px;
            }
        } 
        // &-circle{
        //     width: 170px;
        //     height: 170px;
        //     // background-color: rgba(255, 255, 255, 1);
        //     border-radius: 50%;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        //     position: absolute;
        // }
        &-wrap{
            position: absolute;
            top: 58px;
            left: 162px;
            z-index: 99;
            margin: 0 auto;
            @include media(1495){
                top: 55px;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 0 auto;
            }
            @include media(1000){
                top: 60px;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 0 auto;
            }
            @include media(650){
                top: 40px;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 0 auto;
            }
        }
        &-spn{
            // position: absolute;
            // top: 30%;
            // right: 0;left: 0;
            font-size: 24px;
            font-weight: 700;
            line-height: 31px;
            color: #61705C;
            margin-bottom: 5px;
            text-align: center;
            @include media(450){
                font-size: 18px;
            }
            @include media(550){
                font-size: 20px;
            }
            @include media(650){
                font-size: 22px;
            }
        }
        &-text{
            // position: absolute;
            // top: 45%;
            // right: 0;left: 0;
            font-size: 22px;
            font-weight: 700;
            line-height: 31px;
            color: rgba(0, 0, 0, 1);
            text-align: center;
            @include media(450){
                font-size: 18px;
            }
            @include media(550){
                font-size: 20px;
            }
            @include media(650){
                font-size: 22px;
            }
        }
}
}
// @keyframes load{
//     to{
//         transform: rotate(360deg);
//     }
// }