.nav {
    background: #EBFFE4;
    position: relative;
    width: 100%;
    // z-index: 99;
    &__anime{
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background:#89ea69;
        position: absolute;
        bottom: 0;
        // animation: slide 10s linear infinite backwards alternate;
    }
    @include media(700) {
        padding: 20px 0;
    }

    @include media(500) {
        padding: 15px 0;
    }

    &__logo {
        color: #051101;
        @include media(500) {
            img {
                width: 70px;
            }
        }
    }

    &__burger,
    &__close {
        display: none;

        img {
            width: 25px;
        }

        @include media(700) {
            display: block;
        }
    }

    &__close {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__list {
        display: flex;
        align-items: center;
        column-gap: 30px;

        @include media(700) {
            position: fixed;
            flex-direction: column;
            align-items: center;
            background-color: #000;
            top: 0;
            right: -300px;
            height: 100vh;
            padding: 60px;
            transition: 0.5s;

            &.active {
                right: 0;
            }
        }
    }

    &__link {
        color:#61705C;
        font-size: 18px;
        font-weight: 500;
        padding: 34px 0;
        display: block;

        &.router-link-active {
            font-weight: 700;
            color: #051101;
            position: relative;

        //     &::after {
        //         content: '';
        //         width: 15px;
        //         height: 15px;
        //         border-radius: 15px;
        //         background: #149A03;
        //         position: absolute;
        //         bottom: 15px;
        //         left: 50%;
        //         transform: translateX(-50%);
        //     }
        }
    }
}
@keyframes slide {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}